In [1]:
## Importing the required libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
## Reading the data
data = pd.read_csv(r'zomato.csv')

In [3]:
# Top 5 rows of the data
data.head()

,City_name,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Dist_from_Rest_to_deli_loc,day,month,days_of_week,Time_Orderd_hour,Time_Orderd_min,Time_Order_picked_hour,Time_Order_picked_min
0,DEH,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582,12,2,Saturday,21.0,55.0,22.0,10.0
1,KOC,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319,13,2,Sunday,14.0,55.0,15.0,5.0
2,PUNE,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860,4,3,Friday,17.0,30.0,17.0,40.0
3,LUDH,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258,13,2,Sunday,9.0,20.0,9.0,30.0
4,KNP,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618,14,2,Monday,19.0,50.0,20.0,5.0

In [4]:
# Shape of the data
data.shape

(41513, 24)

In [5]:
# Null values in the data
data.isnull().sum()

City_name                         0
Delivery_person_Age            1476
Delivery_person_Ratings        1515
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Weather_conditions              420
Road_traffic_density            408
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             897
Festival                        215
City                           1097
Time_taken (min)                  0
Dist_from_Rest_to_deli_loc        0
day                               0
month                             0
days_of_week                      0
Time_Orderd_hour               4196
Time_Orderd_min                4196
Time_Order_picked_hour         3731
Time_Order_picked_min          3731
dtype: int64

In [6]:
data.head()

,City_name,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Dist_from_Rest_to_deli_loc,day,month,days_of_week,Time_Orderd_hour,Time_Orderd_min,Time_Order_picked_hour,Time_Order_picked_min
0,DEH,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582,12,2,Saturday,21.0,55.0,22.0,10.0
1,KOC,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319,13,2,Sunday,14.0,55.0,15.0,5.0
2,PUNE,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860,4,3,Friday,17.0,30.0,17.0,40.0
3,LUDH,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258,13,2,Sunday,9.0,20.0,9.0,30.0
4,KNP,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618,14,2,Monday,19.0,50.0,20.0,5.0

In [7]:
## Independent and dependent features
X = data.drop(labels=['Time_taken (min)'],axis=1)
y = data[['Time_taken (min)']]

In [8]:
X.head()

,City_name,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Dist_from_Rest_to_deli_loc,day,month,days_of_week,Time_Orderd_hour,Time_Orderd_min,Time_Order_picked_hour,Time_Order_picked_min
0,DEH,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,10.280582,12,2,Saturday,21.0,55.0,22.0,10.0
1,KOC,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,6.242319,13,2,Sunday,14.0,55.0,15.0,5.0
2,PUNE,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,13.787860,4,3,Friday,17.0,30.0,17.0,40.0
3,LUDH,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,2.930258,13,2,Sunday,9.0,20.0,9.0,30.0
4,KNP,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,19.396618,14,2,Monday,19.0,50.0,20.0,5.0

In [9]:
y.head()

   Time_taken (min)
0                46
1                23
2                21
3                20
4                41

In [10]:
# Define which columns should be ordinal-encoded and which should be scaled
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

In [11]:
categorical_cols

Index(['City_name', 'Weather_conditions', 'Road_traffic_density',
       'Type_of_order', 'Type_of_vehicle', 'Festival', 'City', 'days_of_week'],
      dtype='object')

In [12]:
numerical_cols

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries', 'Dist_from_Rest_to_deli_loc', 'day', 'month',
       'Time_Orderd_hour', 'Time_Orderd_min', 'Time_Order_picked_hour',
       'Time_Order_picked_min'],
      dtype='object')

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.compose import ColumnTransformer

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=32)

In [15]:
# ordinal
Weather_conditions_categories = ['Sunny','Cloudy','Fog','Windy','Sandstorms','Stormy']
Road_traffic_density_categories = ['Low','Medium','High','Jam']

In [16]:
categorical_column=['Type_of_order','Type_of_vehicle','Festival','City','days_of_week','City_name'] # ,'City_name'
ordinal_encod=['Weather_conditions','Road_traffic_density']
numerical_column=['Delivery_person_Age','Delivery_person_Ratings','Restaurant_latitude','Restaurant_longitude',
                  'Delivery_location_latitude','Delivery_location_longitude','Vehicle_condition','multiple_deliveries',
                  'day','month','Time_Orderd_hour','Time_Orderd_min','Time_Order_picked_hour','Time_Order_picked_min',
                 'Dist_from_Rest_to_deli_loc']

In [17]:
# numerical pipeline

numerical_pipeline=Pipeline(steps=[
    ('impute',SimpleImputer(strategy='mean')),
    #('scaler',StandardScaler())
])

# categorical pipeline

categorical_pipeline=Pipeline(steps=[
    ('impute',SimpleImputer(strategy='most_frequent')),
    ('onehot',OneHotEncoder(handle_unknown='ignore')),
    #('scaler',StandardScaler())
])


# ordinal pipeline

ordianl_pipeline=Pipeline(steps=[
    ('impute',SimpleImputer(strategy='most_frequent')),
    ('ordinal',OrdinalEncoder(categories=[Weather_conditions_categories,Road_traffic_density_categories])),
    #('scaler',StandardScaler())   
])

In [18]:
preprocessor =ColumnTransformer([
    ('numerical_pipeline',numerical_pipeline,numerical_column),
    ('categorical_pipeline',categorical_pipeline,categorical_column),
    ('ordianl_pipeline',ordianl_pipeline,ordinal_encod)
])

In [19]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.fit_transform(X_test)

In [20]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
import xgboost
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [21]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [22]:
regression.coef_

array([[ 3.80261561e-01, -6.81762726e+00, -1.95940420e+04,
         1.96741359e+04,  1.95938978e+04, -1.96743372e+04,
        -2.03056851e+00,  3.36467341e+00,  2.31603589e-04,
        -8.61485831e-02, -6.60367624e-02,  1.95281734e-03,
        -6.72312303e-02, -3.21714001e-03,  9.13526360e-01,
        -2.73803829e-03, -1.18660251e-01,  3.48079926e-02,
         8.65861902e-02,  2.78483583e+00, -4.16385221e-01,
        -9.02780580e-01, -1.46563141e+00, -5.24055364e+00,
         5.24059167e+00, -2.54690662e+00,  7.21761289e+00,
        -4.67072968e+00, -3.09955621e-02,  7.71179412e-02,
        -1.02098332e-01,  1.38616679e-01, -2.46906224e-01,
        -1.63184360e-02,  1.80596932e-01,  1.24667135e+00,
         2.08817088e+00, -2.72735584e-01, -1.25833628e+00,
         5.03161623e-01, -7.43989600e-01, -1.74274861e+00,
         1.49480441e+00, -1.59882344e+00, -4.42375554e-01,
        -7.22832818e-02,  7.79492823e-01,  1.21123927e+00,
        -1.73024336e+00,  2.71307177e+00,  7.60771417e-01,
        -1.21540387e+00, -1.64134315e+00, -1.09062546e+00,
         2.16561409e+00, -8.28043471e-01, -3.26023871e-01,
         1.30436973e-01,  2.28224647e+00]])

In [23]:
regression.intercept_

array([69.28512644])

In [24]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [25]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 6.398331345659672
MAE: 5.074239049359677
R2 score 53.1076257670124
===================================


Lasso
Model Training Performance
RMSE: 7.333615631433011
MAE: 5.898690728535507
R2 score 38.39654688990149
===================================


Ridge
Model Training Performance
RMSE: 6.399204769695528
MAE: 5.075193103490077
R2 score 53.09482251565929
===================================


Elasticnet
Model Training Performance
RMSE: 7.347530163833329
MAE: 5.909276319213198
R2 score 38.16255686878153
===================================